{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        grafter/grafter {:mvn/version "2.1.7"}
        grafter/extra {:mvn/version "0.3.0"}
        swirrl/csv2rdf {:mvn/version "0.4.3"}
        ;; swirrl/csv2rdf {:git/url "https://github.com/Swirrl/csv2rdf.git"
        ;;                 :sha "81dfe855db7349a4b8468d99f65206672bb1f8c6"}
        org.clojure/data.csv {:mvn/version "1.0.0"}
        integrant/integrant {:mvn/version "0.8.0"}
        org.clojure/tools.cli {:mvn/version "0.3.7"}
        commons-io/commons-io {:mvn/version "2.4"}}
 :paths ["src" "resources"]
 :aliases
 {:test
  {:extra-paths ["test" "test/resources" "examples"]
   :extra-deps {lambdaisland/kaocha {:mvn/version "1.0-612"}}}
  :with-logging
  {:extra-paths ["env/logging/resources"]
   :extra-deps {org.apache.logging.log4j/log4j-api {:mvn/version "2.16.0"}
                org.apache.logging.log4j/log4j-core {:mvn/version "2.16.0"}
                org.apache.logging.log4j/log4j-slf4j-impl {:mvn/version "2.16.0"}}}}}
