{
 :table2qb.pipelines.cube/cube-pipeline {:parameters [{:name input-csv
                                                       :description "File containing observations"
                                                       :type :file
                                                       :example "input.csv"}
                                                      {:name dataset-name
                                                       :description "Name of the target dataset"
                                                       :type :string
                                                       :example "'My Dataset'"}
                                                      {:name dataset-slug
                                                       :description "URI slug of the target dataset"
                                                       :type :string
                                                       :example "my-dataset"}
                                                      {:name column-config
                                                       :description "File containing the column configuration"
                                                       :type :config
                                                       :example "columns.csv"}
                                                      {:name base-uri
                                                       :description "Base URI for generated URIs"
                                                       :type :string
                                                       :example "http://example.com/dataset/"}
                                                      {:name uris
                                                       :description "EDN file containing named URI template definitions"
                                                       :type :file
                                                       :example "uris.edn"
                                                       :optional? true}]
                                         :uris-resource "uris/cube-pipeline-uris.edn"
                                         :template-vars {base-uri "Base URI"
                                                         dataset-slug "Provided slug for the dataset"}
                                         :csvw-vars {}}
 :table2qb.pipelines.components/components-pipeline {:parameters [{:name input-csv
                                                                   :description "File containing component definitions"
                                                                   :type :file
                                                                   :example "components.csv"}
                                                                  {:name base-uri
                                                                   :description "Base URI for generated URIs"
                                                                   :type :string
                                                                   :example "http://example.com/dataset/"}
                                                                  {:name uris
                                                                   :description "EDN file containing named URI template definitions"
                                                                   :type :file
                                                                   :example "uris.edn"
                                                                   :optional? true}]
                                                     :uris-resource "uris/components-pipeline-uris.edn"
                                                     :template-vars {base-uri "Base URI"}
                                                     :csvw-vars {label "Component label"
                                                                 description "Component description"
                                                                 component_type "Component property e.g. qb:Dimension, qb:Measure"
                                                                 codelist "Optional codelist URI"
                                                                 component_type_slug "Slugized version of Component Type input value"
                                                                 property_slug "Propertized version of the component Label"
                                                                 class_slug "Classized version of the component Label"}}
 :table2qb.pipelines.codelist/codelist-pipeline {:parameters [{:name codelist-csv
                                                               :description "File containing codelist data"
                                                               :type :file
                                                               :example "codelist.csv"}
                                                              {:name codelist-name
                                                               :description "Name of the codelist"
                                                               :type :string
                                                               :example "Codes"}
                                                              {:name codelist-slug
                                                               :description "URI slug of the codelist"
                                                               :type :string
                                                               :example "codes"}
                                                              {:name base-uri
                                                               :description "Base URI for generated URIs"
                                                               :type :string
                                                               :example "http://example.com/dataset/"}
                                                              {:name uris
                                                               :description "EDN file containing named URI template definitions"
                                                               :type :file
                                                               :example "uris.edn"
                                                               :optional? true}]
                                                 :uris-resource "uris/codelist-pipeline-uris.edn"
                                                 :template-vars {base-uri "Base URI"
                                                                 codelist-slug "Provided slug for the codelist"}
                                                 :csvw-vars {label "Code Label"
                                                             notation "Code Notation"
                                                             parent_notation "Optional parent code"
                                                             sort_priority "Optional code Sort Priority"
                                                             description "Optional code Description"}}

 :table2qb.pipelines/pipelines [#ig/ref :table2qb.pipelines.cube/cube-pipeline
                                #ig/ref :table2qb.pipelines.components/components-pipeline
                                #ig/ref :table2qb.pipelines.codelist/codelist-pipeline]
 :table2qb.pipelines/pipeline-runner {:pipelines #ig/ref :table2qb.pipelines/pipelines}
 :table2qb.main/tasks [{:name :help}
                       {:name :list
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}
                       {:name :describe
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}
                       {:name :exec
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}
                       {:name :uris
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}]
 }