{
 :table2qb.pipelines.cube/cube-pipeline {:name cube-pipeline
                                         :parameters [{:name input-csv
                                                       :description "File containing observations"
                                                       :type :file
                                                       :example "input.csv"}
                                                      {:name dataset-name
                                                       :description "Name of the target dataset"
                                                       :type :string
                                                       :example "'My Dataset'"}
                                                      {:name dataset-slug
                                                       :description "URI slug of the target dataset"
                                                       :type :string
                                                       :example "my-dataset"}
                                                      {:name column-config
                                                       :description "File containing the column configuration"
                                                       :type :config
                                                       :example "columns.csv"}
                                                      {:name base-uri
                                                       :description "Base URI for generated URIs"
                                                       :type :string
                                                       :example "http://example.com/dataset/"}]}

 :table2qb.pipelines.components/components-pipeline {:name components-pipeline
                                                     :parameters [{:name input-csv
                                                                   :description "File containing component definitions"
                                                                   :type :file
                                                                   :example "components.csv"}
                                                                  {:name base-uri
                                                                   :description "Base URI for generated URIs"
                                                                   :type :string
                                                                   :example "http://example.com/dataset/"}]}

 :table2qb.pipelines.codelist/codelist-pipeline {:name codelist-pipeline
                                                 :parameters [{:name codelist-csv
                                                               :description "File containing codelist data"
                                                               :type :file
                                                               :example "codelist.csv"}
                                                              {:name codelist-name
                                                               :description "Name of the codelist"
                                                               :type :string
                                                               :example "Codes"}
                                                              {:name codelist-slug
                                                               :description "URI slug of the codelist"
                                                               :type :string
                                                               :example "codes"}
                                                              {:name base-uri
                                                               :description "Base URI for generated URIs"
                                                               :type :string
                                                               :example "http://example.com/dataset/"}]}

 ;; All pipelines should derive from :table2qb.pipelines/pipeline
 :table2qb.pipelines/pipelines #ig/refset [:table2qb.pipelines/pipeline]

 :table2qb.pipelines/pipeline-runner {:pipelines #ig/ref :table2qb.pipelines/pipelines}
 :table2qb.main/tasks [{:name :help}
                       {:name :list
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}
                       {:name :describe
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}
                       {:name :exec
                        :pipelines #ig/ref :table2qb.pipelines/pipelines}]
 }
