{:used-codes-codelist-uri-from-component "$(base-uri)/data/$(dataset-slug)/codes-used/{component_slug}"
 :used-codes-codelist-uri-from-observation "$(base-uri)/data/$(dataset-slug)/codes-used/{_name}"
 :dataset-uri "$(base-uri)/data/$(dataset-slug)"
 :dsd-uri "$(base-uri)/data/$(dataset-slug)/structure"
 :component-specification-uri "$(base-uri)/data/$(dataset-slug)/component/{component_slug}"}
